@charset "UTF-8";
/***** Genereal *****/
/***** Couleurs *****/
/***** Reset *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fa-solid {
  font-size: 30px;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

/***** Layout *****/
/***** Genereal *****/
/***** Loader *****/
.loader_container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  animation: loader_animation 0s forwards;
}
.loader_container .logo {
  animation: logo_animation 1s ease-in-out;
}
.loader_container .circles_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.loader_container .fa-circle {
  font-size: 2rem;
  opacity: 0;
}
.loader_container .circle-1 {
  color: #9356dc;
  animation: circles_animation 2s infinite;
  animation-delay: 1000ms;
}
.loader_container .circle-2 {
  color: #ff79da;
  animation: circles_animation 2s infinite;
  animation-delay: 1200ms;
}
.loader_container .circle-3 {
  color: #99e2d0;
  animation: circles_animation 2s infinite;
  animation-delay: 1400ms;
}

@keyframes loader_animation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes logo_animation {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes circles_animation {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    opacity: 1;
  }
}
/***** Genereal *****/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
header .header {
  background-color: #f3f3f3;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0px -200px 10px 200px rgba(0, 0, 0, 0.75);
  z-index: 999;
  position: relative;
}
header .header a {
  height: 100%;
}
header .header .fa-arrow-left {
  color: #353535;
  font-size: 1.2rem;
  position: absolute;
  left: 5%;
  top: calc(50% - 8px);
}
header .location {
  background-color: #eaeaea;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #353535;
  box-shadow: 0px -200px 10px 200px rgba(0, 0, 0, 0.75);
  z-index: 10;
}
header .location .fa-location-dot {
  font-size: 1rem;
  color: #353535;
}
header .location input {
  height: 100%;
  color: #353535;
  font-size: 1rem;
  max-width: 8rem;
  outline: none;
  border: none;
  background-color: #eaeaea;
}

/***** Genereal *****/
footer {
  background-color: #353535;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  z-index: 10;
}
footer .logo {
  font-family: Shrikhand;
  font-size: 1rem;
  color: white;
  font-style: italic;
}
footer .footer_links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer_links a {
  display: flex;
  gap: 10px;
  color: white;
  font-size: 0.8rem;
}
footer .footer_links a .icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
}
footer .footer_links a .icon_container .fa-solid {
  color: white;
  font-size: 1rem;
}
footer .footer_links a .fa-solid {
  color: white;
  font-size: 14px;
}

@media (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    align-items: baseline;
    justify-content: flex-start;
    gap: 100px;
    padding-top: 50px;
  }
  footer .footer_links {
    flex-direction: row;
    gap: 20px;
  }
}
/***** Components *****/
/***** Accueil *****/
.gradient_button {
  border: none;
  border-radius: 25px;
  color: white;
  padding: 15px 20px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  width: fit-content;
  background-image: linear-gradient(0deg, hsl(267, 66%, 60%) 0%, hsl(317, 100%, 74%) 100%);
  box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 0.8);
}
.gradient_button:hover {
  background-image: linear-gradient(0deg, hsl(267, 66%, 65%) 0%, hsl(317, 100%, 79%) 100%);
  box-shadow: 0px 20px 20px -15px rgba(0, 0, 0, 0.85);
}

/***** Fonctionnement *****/
.boutons {
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.boutons button {
  background-color: #f6f6f6;
  width: 100%;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
  padding: 30px;
  position: relative;
  box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 0.3);
}
.boutons .number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #9356dc;
  color: white;
  padding: 10px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  left: -12px;
}
.boutons .number p {
  font-size: 0.8rem;
  font-weight: 500;
}
.boutons .fa-solid {
  font-size: 1.2rem;
  color: #9356dc;
}
.boutons p {
  font-size: 1rem;
  font-weight: 500;
}

/***** Genereal *****/
/***** Homepage *****/
.restaurants .card .img_container {
  display: flex;
  width: 100%;
  height: 10rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  position: relative;
}
.restaurants .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.restaurants .card .nouveau {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99e2d0;
  color: #008766;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 2px;
  padding: 6px 10px;
}
.restaurants .card .content {
  padding: 20px;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.restaurants .card .content .text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.restaurants .card .content .text .name {
  font-size: 1.1rem;
  font-weight: 600;
}
.restaurants .card .content .text .place {
  font-size: 1rem;
  font-weight: 200;
}
.restaurants .card .content .hearts {
  position: relative;
  display: inline-block;
}
.restaurants .card .content .hearts .empty-heart,
.restaurants .card .content .hearts .full-heart {
  font-size: 1.5rem;
}
.restaurants .card .content .hearts .full-heart {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(0deg, #ff79da, #9356dc);
  background-clip: text;
  color: transparent;
  opacity: 0; /* Caché au départ */
  clip-path: inset(100% 0 0 0); /* Masqué complètement */
  transition: clip-path 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.restaurants .card .content .hearts:hover .full-heart {
  opacity: 1;
  clip-path: inset(0 0 0 0); /* Dévoile progressivement le texte du bas vers le haut */
}

/***** Restaurants *****/
@media (min-width: 768px) {
  .restaurants .card {
    flex: 1 1 calc(50% - 50px);
  }
}
/***** Pages Restaurant *****/
.card_food {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 0.3);
  position: relative;
}
.card_food .text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
}
.card_food .text .food_name,
.card_food .text .food_description {
  display: inline-block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.card_food .text .food_name {
  font-size: 1.1rem;
  font-weight: 400;
}
.card_food .text .food_description {
  font-size: 0.9rem;
  font-weight: 200;
}
.card_food .price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: padding-right 0.2s ease-in-out;
}
.card_food .price p {
  font-size: 0.9rem;
  font-weight: 600;
}
.card_food .validation {
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  min-width: 40px;
  width: 10%;
  right: 0;
  transform: translateX(20%);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  top: 0;
  opacity: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.card_food .validation .fa-circle-check {
  color: white;
  font-size: 1.5rem;
}

.card_food:hover .validation {
  opacity: 1;
  transform: translateX(0);
}
.card_food:hover .price {
  padding-right: calc(10% + 10px);
}

/***** Pages *****/
/***** Genereal *****/
/***** Accueil *****/
.accueil {
  background-color: #f3f3f3;
  padding: 60px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
.accueil .accueil_title {
  text-wrap: balance;
  font-size: 1.5rem;
  font-weight: 700;
}
.accueil .accueil_subtitle {
  text-wrap: balance;
  font-size: 1.2rem;
  font-weight: 200;
  margin-bottom: 30px;
}

/***** Fonctionnement *****/
.fonctionnement {
  background-color: white;
  padding: 60px 30px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
}
.fonctionnement .title {
  font-size: 1.5rem;
  font-weight: 700;
}
.fonctionnement .boutons {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/***** Restaurants *****/
.restaurants {
  background-color: #f3f3f3;
  padding: 60px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.restaurants .title {
  font-size: 1.5rem;
  font-weight: 700;
}
.restaurants .cards_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 1024px) {
  /***** Accueil *****/
  .accueil {
    padding: 40px 30px;
  }
  .accueil .accueil_title {
    font-size: 2.5rem;
  }
  .accueil .accueil_subtitle {
    font-size: 1.2rem;
  }
  /***** Fonctionnement *****/
  .fonctionnement {
    background-color: white;
    padding: 50px 180px;
    gap: 25px;
  }
  .fonctionnement .boutons {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  /***** Restaurants *****/
  .restaurants {
    padding: 50px 180px;
    display: flex;
  }
  .restaurants .cards_container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
  }
}
/***** Genereal *****/
main {
  display: flex;
  flex-direction: column;
  position: relative;
}
main .restaurant_image_container {
  position: relative;
  width: 100%;
  padding-bottom: 40%;
  overflow: hidden;
  min-height: 275px;
  max-height: 400px;
}
main .restaurant_image_container .restaurant_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
main .background_menu {
  background-color: #eaeaea;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -50px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
main .background_menu .menu_container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 634px;
  width: 100%;
  gap: 20px;
}
main .background_menu .menu_container .menu_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
main .background_menu .menu_container .menu_header h1 {
  font-family: Shrikhand;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: lighter;
}
main .background_menu .menu_container .menu_header .hearts {
  position: relative;
  display: inline-block;
  margin-right: 30px;
}
main .background_menu .menu_container .menu_header .hearts .empty-heart,
main .background_menu .menu_container .menu_header .hearts .full-heart {
  font-size: 1.5rem;
}
main .background_menu .menu_container .menu_header .hearts .full-heart {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(0deg, #ff79da, #9356dc);
  background-clip: text;
  color: transparent;
  opacity: 0; /* Caché au départ */
  clip-path: inset(100% 0 0 0); /* Masqué complètement */
  transition: clip-path 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
main .background_menu .menu_container .menu_header .hearts:hover .full-heart {
  opacity: 1;
  clip-path: inset(0 0 0 0); /* Dévoile progressivement le texte du bas vers le haut */
}
main .background_menu .menu_container .menu_group .group_name h2 {
  font-size: 1rem;
  font-weight: 200;
}
main .background_menu .menu_container .menu_group .group_name div {
  height: 3px;
  background-color: #99e2d0;
  width: 40px;
  margin-top: 5px;
  border-radius: 30px;
}
main .background_menu .menu_container .menu_group .card_food_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}
main .background_menu .menu_container .button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.entrees {
  animation: animation-plats 0s forwards ease-in-out;
  animation-delay: 3200ms;
  opacity: 0;
}

.plats {
  animation: animation-plats 0s forwards ease-in-out;
  animation-delay: 3400ms;
  opacity: 0;
}

.desserts {
  animation: animation-plats 0s forwards ease-in-out;
  animation-delay: 3600ms;
  opacity: 0;
}

/***** Responsive *****/
@media (min-width: 1024px) {
  main .background {
    padding-left: 15%;
    padding-right: 15%;
  }
  main .background .menu_container .menu_header {
    justify-content: flex-start;
    gap: 20px;
  }
}
@keyframes animation-plats {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
