@use "../variables" as vars;

footer {
  background-color: vars.$grey-color;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  .logo {
    font-family: Shrikhand;
    font-weight: 400;
    font-size: 18px;
    color: white;
    font-style: italic;
  }

  .footer_links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    a {
      display: flex;
      gap: 10px;
      color: white;

      .icon_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        .fa-solid {
          color: white;
          font-size: 14px;
        }
      }

      .fa-solid {
        color: white;
        font-size: 14px;
      }
    }
  }
}
