@use "../variables" as vars;

footer {
  background-color: vars.$grey-color;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  z-index: 10;

  .logo {
    font-family: Shrikhand;
    font-size: 1rem;
    color: white;
    font-style: italic;
  }

  .footer_links {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .links_group {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    a {
      display: flex;
      gap: 10px;
      color: white;
      font-size: 0.8rem;

      .icon_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1rem;
        .fa-solid {
          color: white;
          font-size: 1rem;
        }
      }

      .fa-solid {
        color: white;
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    align-items: baseline;
    justify-content: flex-start;
    gap: 100px;
    padding-top: 50px;

    .footer_links {
      flex-direction: row;
      gap: 40px;

      .links_group {
        flex-direction: row;
        gap: 10px;
      }
    }
  }
}
