@use "../variables" as vars;

/***** Loader *****/

.loader_container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  animation: loader_animation 3s forwards;

  .logo {
    animation: logo_animation 1s ease-in-out;
  }

  .circles_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .fa-circle {
    font-size: 2rem;
    opacity: 0;
  }

  .circle-1 {
    color: vars.$purple-color;
    animation: circles_animation 2s infinite;
    animation-delay: 1000ms;
  }

  .circle-2 {
    color: vars.$pink-color;
    animation: circles_animation 2s infinite;
    animation-delay: 1200ms;
  }

  .circle-3 {
    color: vars.$light-green-color;
    animation: circles_animation 2s infinite;
    animation-delay: 1400ms;
  }
}

@keyframes loader_animation {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes logo_animation {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes circles_animation {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
    opacity: 1;
  }
}
