@use "../variables" as vars;

/***** Accueil *****/
.accueil {
  background-color: vars.$white-color;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;

  .accueil__title {
    font-size: 24px;
    font-weight: 700;
  }

  .accueil_subtitle {
    font-size: 18px;
    font-weight: 200;
  }
}

/***** Fonctionnement *****/

.fonctionnement {
  background-color: white;
  padding: 60px 30px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;

  .title {
    font-size: 24px;
    font-weight: 700;
  }

  .boutons {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

/***** Restaurants *****/

.restaurants {
  background-color: vars.$white-color;
  padding: 60px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .title {
    font-size: 24px;
    font-weight: 700;
  }

  .cards_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
