/***** Accueil *****/

.accueil {
  background-color: #f6f6f6;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;

  .accueil__title {
    font-size: 24px;
    font-weight: 700;
  }

  .accueil_subtitle {
    font-size: 18px;
    font-weight: 200;
  }
}

/***** Fonctionnement *****/

.fonctionnement {
  background-color: #ffffff;
  padding: 60px 30px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;

  .fonctionnement__title {
    font-size: 24px;
    font-weight: 700;
  }

  .boutons_fonctionnement {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
