@use "../variables" as vars;

.restaurants {
  .card {
    .img_container {
      display: flex;
      width: 100%;
      height: 10rem;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      overflow: hidden;
      position: relative;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .nouveau {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: vars.$light-green-color;
      color: vars.$green-color;
      font-size: 12px;
      font-weight: 500;
      border-radius: 2px;
      padding: 6px 10px;
    }

    .content {
      height: 100%;
      padding: 20px;
      background-color: white;

      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .text {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .name {
          font-size: 16px;
          font-weight: 600;
        }

        .place {
          font-size: 14px;
          font-weight: 200;
        }
      }

      .fa-heart {
        background: linear-gradient(
          to bottom,
          vars.$pink-color,
          vars.$purple-color
        );
        background-clip: text;
        color: transparent;
        font-size: 22px;
      }
    }
  }
}
