/***** Couleurs *****/

$white-color: #f3f3f3;
$light-grey-color: #eaeaea;
$grey-color: #353535;
$light-green-color: #99e2d0;
$green-color: #008766;
$light-blue-color: #89c8fa;
$blue-color: #003a68;
$pink-color: #ff79da;
$purple-color: #9356dc;
